@charset "utf-8";
html {
  scroll-behavior: smooth;
}
body{
  color: #333;
  letter-spacing: .03rem;
  font-family: 'Noto Sans JP', sans-serif;
  letter-spacing: .03rem;
}
h2{
  padding-bottom: .25rem;
  font-size: 2rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  color: #3f3f3f;
}
.wrapper{
  position: relative;
  z-index: 0;
}
canvas{
  height: 100%;
}

/* header */
header{
  height: 100vh;
  margin-bottom: 40vh;
  text-align: center;
}
.title{
  overflow: hidden;
}
.title span {
  display: block;
  transition: transform 1s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  transform: translate3d(0, 100%, 0);
}
.title .fadeUp{
  transform: translate3d(0, 0, 0);
}
header h1{
  padding-top: 45vh;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 3rem;
}
header p{
  margin-top: 40px;
  overflow: hidden;
}

/* main */
.headline{
  margin-bottom: 80px;
  display: flex;
}
.headline p{
  display: flex;
  align-items: center;
  line-height: 1.5rem;
  vertical-align: bottom;
  font-weight: 300;
}
.headline p::before{
  content: '';
  width: 3rem;
  height: .5px;
  margin: 0 10px;
  background-color: #333;
  display: block;
}

/* profile */
.profile{
  width: 70%;
  margin: 0 auto 50vh auto;
}
.profile .contents_wrap{
  display: flex;
  justify-content: center;
}
.profile_image{
  width: 230px;
  margin-top: 30px;
  margin-right: 50px;
}
.profile_image img{
  width: 100%;
}
.profile_txt h3{
  margin-bottom: 20px;
  font-size: 1.25rem;
}

/* works */
.works{
  margin-bottom: 150px;
}
.works .contents_wrap{
  width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  row-gap: 70px;
  column-gap: 90px;
}
.works .headline{
  margin-left: 15%;
}
.contents{
  width: 100%;
}
.contents p{
  font-size: .75rem;
}
.category{
  display: flex;
  align-items: baseline;
}
.category p:first-child{
  margin-bottom: 5px;
  padding: 3px 10px;
  display: inline-block;
  border: #333 .5px solid;
  border-radius: 1.5rem;
}
.category p:nth-child(2){
  margin-left: 8px;
  font-weight: 300;
}
.contents h3{
  margin-bottom: 5px;
}
.link::after{
  width: 14px;
  height: 11px;
  margin-left: 9px;
  content: '';
  background-image: url(../images/link_icon.png);
  background-repeat: no-repeat;
  display: inline-block;
  background-size: contain;
}
.contents a{
  margin-top: 1px;
  display: block;
}
.page_image{
  overflow: hidden;
  border: #333 .5px solid;
  object-fit: cover;
}
.page_image img{
  width: 100%;
  transition: .3s;
}
.page_image img:hover{
  transform: scale(1.04);
  transition: .6s;
}
.df{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

/* footer */
footer{
  padding-bottom: 40px;
  text-align: center;
  font-size: .75rem;
}

/* bg */
.bg1{
  width: 40%;
  height: 35%;
  position: absolute;
  background-image: url(../images/howa1.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top;
  top: 0;
  left: 0;
  z-index: -10;
}
.bg2{
  width: 40%;
  height: 35%;
  position: absolute;
  background-image: url(../images/howa2.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right top;
  top: 75vh;
  right: 0;
  z-index: -10;
}
.bg3{
  width: 40%;
  height: 35%;
  position: absolute;
  background-image: url(../images/howa3.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top;
  top: 185vh;
  left: 0;
  z-index: -10;
}
.bg4{
  width: 40%;
  height: 35%;
  position: absolute;
  background-image: url(../images/howa4.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right bottom;
  bottom: 0;
  right: 0;
  z-index: -10;
}
.fadein_item {
  opacity: 0;
  visibility: hidden;
  transform: translateY(30px);
  transition: opacity 1s, visibility 1s, transform 1s;
}
.content_fadein{
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

@media screen and (max-width: 880px){
  .wrapper{
    overflow: hidden;
  }
  header h1{
    font-size: 2.3rem;
  }
  .works{
    margin-bottom: 100px;
  }
  .works .contents_wrap{
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 60px;
  }
  .profile .contents_wrap{
    display: block;
  }
  .contents:nth-child(3) .df{
    display: block;
  }
  .profile_image{
    margin: 0 auto;
    margin-top: 0;
    margin-bottom: 50px;
  }
  .bg1{
    width: 55%;
    left: -10%;
  }
  .bg2{
    width: 60%;
    right: -10%;
  }
  .bg3{
    width: 80%;
    left: -30%;
  }
  .bg4{
    width: 70%;
  }
}/* 880px */
